@font-face{
 font-family: Above;
 src: url(ABOVE.ttf)
}
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
html{
  height: 100%;
}
body {
    background-color: lightblue;
    font-family: 'Above';
    height: 100%;
}
h1 {
    Font size: 400px;
    text-align: center;
}
img {
	display: block;
	margin: auto;
}
ol {
  text-align: center;
  list-style-position: inside;
}
.navigation{

}
.homepage {
    /* The image used */
    background-image: url('../img/Zelda.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trans1{
  height:1000px;
  font-family:"above";
  font-size:40px;
}
.aboutme {
  /* The image used */
  background-color: black;
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.extras{
  height:1000px;
  font-family:"above";
  font-size:40px;
}

.contact{
  /* The image used */
  background-color: white;
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
