body {
    background-color: lightblue;
}

h1 {
    color: green;
    font-family: "Times New Roman", Times, serif;
    Font size: 40px;
    text-align: center;
}

#aboutme {
    color: purple;
    font-family: Veranda, sans-serif;
    Font size: 20px;
    text-align: center;
}

img {
	display: block;
	margin: auto;
}

ol {
  text-align: center;
  list-style-position: inside;
}